.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #B9E3BD;
}
.App-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10vh;
  justify-content: center;
  height: 90vh;
}
.App-banner {
  width: 100%;
  background-color: #173C2C;
  color: white;
}

.App-link {
  color: #163C2C;
}
h4{
  color: rgb(0, 20, 15);
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
